<h1>Youre order summary</h1>
{{> addons noDeleteBtn=true}}

<a  href="/order/thanks"><button class="btn-big"><img src="/assets/images/shopping-card.png" alt=""> Finish my order</button></a>
{{> cookie-preview}}
{{> go-home}}